.App { 
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 1000px;
  //background-color: lightgrey;
  border: 3px dotted black;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0 auto;
  padding-top: 10vh;
}

.tasks {
  border-collapse: collapse;
  height: 50vh;
  width: 100%;
  max-width: 900px;

  caption{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }


  tr:nth-child(even) {
    background: rgba(225, 225, 225, 0.671);
  }

  tr:hover{background-color: lightblue;}

  td {
    padding: 10px;
    border-bottom: 2px solid lightgray;
  }
  td:first-child {
    width: 30%;
  }

  th {
    padding: 10px;
    border-bottom: 2px solid gray;
    background-color: blue;
    color: white;
  }
}